<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>Welcome to Fox Club!!</h1>
<p>Please enter a name so you can associate to your pet!</p>
<form action="#" th:action="@{/login}" th:object="${fox}" method="post">
    <label for="username">Name:</label>
    <input type="text" id="username" th:field="*{name}" th:required="required"/>
    <select th:field="*{food}" th:required="required">
        <option value=""> Select food for your fox! </option>
        <option th:each="oneFood : ${foods}"
                th:value="${oneFood.getFoodName()}"
                th:text="${oneFood.getFoodName()}"/>
    </select>
    <select th:field="*{drink}" th:required="required">
        <option value=""> Select drink for your fox! </option>
        <option th:each="oneDrink : ${drinks}"
                th:value="${oneDrink.getDrinkName()}"
                th:text="${oneDrink.getDrinkName()}"/>
    </select>
    <input type="submit" value="GO" />
</form>
</body>
</html>