<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo list</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h2>Edit todo</h2>
<form action="#" th:action="@{'/' + ${todo.id} + '/edit'}" th:object="${todo}" method="post">
    <label for="username">Todo description:</label>
    <input type="text" id="username" th:field="*{title}" th:required="required"/>
    <input type="checkbox" th:field="*{urgent}" th:checked="*{urgent}" />
    <input type="checkbox" th:field="*{done}" th:checked="*{done}" />
    <input type="submit" value="Submit" />
</form>
</body>
</html>