<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
    <h2>Useful links</h2>
    <ul>
        <li><a href="/useful/colored" target="_blank">Random colored background</a></li>
        <li><a href="/useful/email?email=is@this.valid" target="_blank">Email validator</a></li>
        <li><a href="/useful/caesarencoder?text=example&number=1" target="_blank">Caesar encoder</a></li>
        <li><a href="/useful/caesardecoder?text=fybnqmf&number=1" target="_blank">Caesar decoder</a></li>
    </ul>
</body>
</html>