<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            border: 3px solid black;
        }
        th {
            background-color: aqua;
        }
        td {
            background-color: coral;
        }
        .king {
             color: gold;
         }
        .notking {
            color: black;
        }
    </style>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table class="Table">
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>AnimalType</th>
        <th>Is he king?</th>
        <th>Is he good?</th>
    </tr>
    <tr th:each="oneAccount : ${accountList.getAccountlist()}">
        <td th:text="${oneAccountStat.index}"></td>
        <td th:text="${oneAccount.name}"></td>
        <td th:text="${oneAccount.balance}"></td>
        <td th:text="${oneAccount.animalType}"></td>
        <td th:class="${oneAccount.king} ? king : notking" th:text="${oneAccount.king}"></td>
        <td><th:block th:switch="${oneAccount.good}">
            <div th:case="true">
                Good one
            </div>
            <div th:case="false">
                Bad guy
            </div>
        </th:block></td>
    </tr>
</table>
</body>
</html>