<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            border: 3px solid black;
        }
        th {
            background-color: aqua;
        }
        td {
            background-color: coral;
        }
        .king {
             color: gold;
         }
        .notking {
            color: black;
        }
    </style>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<form  th:action="@{/increment}"  method="post">
<table class="Table">
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>AnimalType</th>
        <th>Is he king?</th>
        <th>Is he good?</th>
        <th>Raise balance</th>
    </tr>
    <tr th:each="oneAccount : ${accountList.getAccountlist()}">
        <td th:text="${oneAccountStat.index}"></td>
        <td th:text="${oneAccount.name}"></td>
        <td th:text="${oneAccount.balance}"></td>
        <td th:text="${oneAccount.animalType}"></td>
        <td th:class="${oneAccount.king} ? king : notking" th:text="${oneAccount.king}"></td>
        <td><th:block th:switch="${oneAccount.good}">
            <div th:case="true">
                Good one
            </div>
            <div th:case="false">
                Bad guy
            </div>
        </th:block></td>
        <td><button name="id" th:value="${oneAccountStat.index}">Increment Balance</button></td>
    </tr>
</table>
</form>
<form action="#" th:action="@{/multipleAccount/raise}"
      th:object="${formResponse}" method="post">
    <p>Choose the name of the animal you want to donate to!</p>
    <select th:field="*{index}">
        <option value=""> --- </option>
        <option th:each="oneAccount : ${accountList.getAccountlist()}"
                th:value="${oneAccountStat.index}"
                th:text="${oneAccount.name}" />
    </select>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>